# Exclude everything
*

# Include the minimum for building the container image
!target/x86_64-unknown-linux-musl/release/
!target/aarch64-unknown-linux-musl/release/
target/x86_64-unknown-linux-musl/release/*/*
target/aarch64-unknown-linux-musl/release/*/*
